*
!.gitignore
!banners/
!banners/.gitkeep

!content/
!content/.gitkeep

!gallery/
!gallery/thumbs/
!gallery/thumbs/.gitkeep

!edu_kids/
!edu_kids/thumbs/
!edu_kids/thumbs/.gitkeep

!mini/
!mini/thumbs/
!mini/thumbs/.gitkeep